# Ignore macOS system files
.DS_Store

# Ignore node_modules folder
node_modules/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
env/
venv/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore compiled files
*.o
*.out
*.class
*.dll
*.exe

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore package manager files
package-lock.json
yarn.lock

# Ignore environment variable files
.env

# Ignore build directories
build/
dist/
*.egg-info/

# Ignore dependency directories
vendor/
